/*stylesheet for the welcome screen components only*/
h2
{
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.toggleButtons
{
    width: 70%;
}

.directionButton, .submit
{
    width: 80%;
    border-radius: 50px;
    margin: 2px;
    height: 50px;
    background-color: #751c2f;
    border-color: #751c2f;
    font-size: 20px;
}

.directionButton:hover, .submit:hover
{
    background-color: #aa2441;
    border-color: #aa2441;
}

.submit
{
    width: 35%;
    height: 50px;
}

.RiderFormPage
{
    width: 50%;
    margin: 0 auto;
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    transform: translateX(50%);
    text-align: center;
    background-color: white;
    box-shadow: 1px 1px 10px rgb(54, 54, 54);
}

html
{
    text-align: center;
}

body
{
    background-color: rgb(231, 231, 231);
}

.form-group
{
    width: 70%;
    margin: 0 auto;
}

#formGridCity
{
    height: 50px;
    border-radius: 50px;
}

#textLabel
{
    margin: 0 auto;
    font-size: 16px;
}